@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    /* background-color: theme(colors.slate.200); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break-row {
  flex-basis: 100%;
  height: 0;
}

.break-col {
  flex-basis: 100%;
  width: 0;
}

.btn {
  @apply max-w-xs py-2 px-8 rounded-lg font-bold tracking-wide uppercase text-center drop-shadow-xl;
}

.btn-primary {
  @apply text-gray-100 ring-2 ring-pink-500/50 ring-offset-2 bg-gradient-to-r from-pink-500 to-blue-600;
}

.btn-secondary {
  @apply text-gray-700 ring-2 ring-pink-500/75 ring-offset-2;
}

.alert {
  @apply py-2 px-8 rounded-lg tracking-wide text-center;
}

.error {
  @apply bg-rose-300/50;
}

.warning {
  @apply bg-amber-300/50;
}

.info {
  @apply bg-blue-300/50;
}

.ok {
  @apply bg-teal-300/50;
}

.external-list > ul {
  @apply text-gray-600 mt-2 list-inside;
}

.external-list > ul > li::before{
  content: "\2055";
  @apply text-gray-500 pr-2 text-lg;
}

.external-list > ul > li > ul {
  @apply text-gray-600 mt-2 ml-8 md:ml-12 list-inside;
}

.external-list > ul > li > ul > li::before {  
  content: "\21E2";
  @apply text-gray-500 pr-2;
}

/* *Stylish Borders */
.gradient-bg-1{
  background-image: 
    linear-gradient(127deg, hsla(206 66% 28%/0.7), hsla(163 41% 52%/0.7) 70%),
    linear-gradient(223deg, hsla(110 50% 70%/0.6), hsla(73 72% 75%/0.7) 70%);
}